body {
    background-image: url(background_7.jpg);
    background-size: cover;
}



.box2 {
    margin-top: 350px;
    width: 65%;
    height: 400px;
    background: rgba(1, 6, 18, 0.87);
    backface-visibility: visible;
    color: #e0d2d3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    margin-bottom: 15px;
}


.box2 h1 {
    text-align: right;
    margin: 9px;
    margin-top: -220px;
    font-family: serif;
    font-weight: 100;
    color: firebrick;
    text-transform: uppercase;
}

.box2 span {
    font-size: 55px;
}

.left {
    display: block;
    float: left;
}

.right {
    display: block;
    clear: both;
    float: right;
}

.box2 h2 {

    margin-top: 70px;
    margin-left: 50px;
    font-family: monospace;
    font-size: 20px;
}

.box2 h3 {
    margin-top: -160px;
    margin-right: 50px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    float: right;


}

.userpro {
    border-radius: 30%;
    width: 230px;
    margin-top: -46px;



}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid transparent;
    transition: all ease 300ms;

}

nav ul li a:hover {

    border: 1px solid white;

}
